# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# OS / editor junk
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Local environment files
.env

# IDE / project files
.vscode/
.idea/

# SQL or backups (optional, if not needed in container)
*.sql

# Docker itself
Dockerfile
.dockerignore
